PORT=5000
NODE_ENV=development
POSTGRES_URL=postgres://olakunle:habeeb1234@localhost:5432/foundry
CLIENT_URL=http://localhost:3000

GOOGLE_CLIENT_ID=client_id_goes_here
GOOGLE_CLIENT_SECRET=client_secret_goes_here
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

JWT_SECRET=jwt_secret_goes_here
SESSION_SECRET=session_secret_goes_here