PORT=5000
NODE_ENV=development
POSTGRES_URL=postgres://username:password@localhost:5432/foundry
CLIENT_URL=http://localhost:5173

GOOGLE_CLIENT_ID=client_id_goes_here
GOOGLE_CLIENT_SECRET=client_secret_goes_here
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

GITHUB_CLIENT_ID=client_id_goes_here
GITHUB_CLIENT_SECRET=client_secret_goes_here
GITHUB_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

IMAGEKIT_PUBLIC_KEY=your_public_key_goes_here
IMAGEKIT_PRIVATE_KEY=your_private_key_goes_here
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_project_id

JWT_SECRET=jwt_secret_goes_here
SESSION_SECRET=session_secret_goes_here